USE [master]
GO
/****** Object:  Database [QuanLyCafe]    Script Date: 10/13/2025 10:40:26 AM ******/
CREATE DATABASE [QuanLyCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyCafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyCafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCafe]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 10/13/2025 10:40:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[SucChua] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 10/13/2025 10:40:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaDU] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](10, 2) NULL,
	[ThanhTien] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaDU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 10/13/2025 10:40:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaPN] [int] NOT NULL,
	[MaNL] [int] NOT NULL,
	[SoLuongNhap] [float] NOT NULL,
	[DonGiaNhap] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongThucDoUong]    Script Date: 10/13/2025 10:40:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongThucDoUong](
	[MaDU] [varchar](10) NOT NULL,
	[MaNL] [int] NOT NULL,
	[SoLuongDung] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDU] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoUong]    Script Date: 10/13/2025 10:40:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoUong](
	[MaDU] [varchar](10) NOT NULL,
	[TenDU] [nvarchar](100) NULL,
	[MaLoai] [int] NULL,
	[DonGia] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/13/2025 10:40:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[NgayLap] [datetime] NULL,
	[MaNV] [varchar](10) NULL,
	[MaKH] [int] NULL,
	[MaBan] [int] NULL,
	[TongTien] [decimal](12, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/13/2025 10:40:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDoUong]    Script Date: 10/13/2025 10:40:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDoUong](
	[MaLoai] [int] NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 10/13/2025 10:40:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[MaNL] [int] IDENTITY(1,1) NOT NULL,
	[TenNL] [nvarchar](100) NOT NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
	[SoLuongTon] [float] NULL,
	[SoLuongToiThieu] [float] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/13/2025 10:40:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SDT] [nvarchar](15) NULL,
	[NgayVaoLam] [date] NULL,
	[MatKhau] [nvarchar](100) NULL,
	[Quyen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapKho]    Script Date: 10/13/2025 10:40:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapKho](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[MaNV] [varchar](10) NOT NULL,
	[TongTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ban] ON 

INSERT [dbo].[Ban] ([MaBan], [SucChua], [TrangThai]) VALUES (1, 4, N'Trống')
INSERT [dbo].[Ban] ([MaBan], [SucChua], [TrangThai]) VALUES (2, 6, N'Trống')
INSERT [dbo].[Ban] ([MaBan], [SucChua], [TrangThai]) VALUES (3, 2, N'Có khách')
SET IDENTITY_INSERT [dbo].[Ban] OFF
GO
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaNL], [SoLuongNhap], [DonGiaNhap]) VALUES (3, 1, 2, 500000.0000)
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaNL], [SoLuongNhap], [DonGiaNhap]) VALUES (4, 1, 2, 500000.0000)
GO
INSERT [dbo].[CongThucDoUong] ([MaDU], [MaNL], [SoLuongDung]) VALUES (N'DU001', 1, 0.0175)
INSERT [dbo].[CongThucDoUong] ([MaDU], [MaNL], [SoLuongDung]) VALUES (N'DU001', 2, 0.0075)
GO
INSERT [dbo].[DoUong] ([MaDU], [TenDU], [MaLoai], [DonGia]) VALUES (N'DU001', N'Cà phê đen', 1, CAST(40000.00 AS Decimal(10, 2)))
INSERT [dbo].[DoUong] ([MaDU], [TenDU], [MaLoai], [DonGia]) VALUES (N'DU002', N'Cà phê sữa', 1, CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[DoUong] ([MaDU], [TenDU], [MaLoai], [DonGia]) VALUES (N'DU003', N'Trà sữa', 2, CAST(60000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([NgayLap], [MaNV], [MaKH], [MaBan], [TongTien], [TrangThai], [MaHD]) VALUES (CAST(N'2025-07-27T20:59:54.270' AS DateTime), N'NGUYET', NULL, 2, CAST(40000.00 AS Decimal(12, 2)), N'Đã thanh toán', 1)
INSERT [dbo].[HoaDon] ([NgayLap], [MaNV], [MaKH], [MaBan], [TongTien], [TrangThai], [MaHD]) VALUES (CAST(N'2025-07-27T21:28:52.287' AS DateTime), N'NGUYET', NULL, 2, CAST(80000.00 AS Decimal(12, 2)), N'Đã thanh toán', 2)
INSERT [dbo].[HoaDon] ([NgayLap], [MaNV], [MaKH], [MaBan], [TongTien], [TrangThai], [MaHD]) VALUES (CAST(N'2025-07-27T21:29:20.987' AS DateTime), N'NGUYET', NULL, 4, CAST(100000.00 AS Decimal(12, 2)), N'Đã thanh toán', 3)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi]) VALUES (1, N'Thảo', N'09988', N'Bình Dương')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi]) VALUES (2, N'Tèo', N'333333', N'LA')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [DiaChi]) VALUES (13, N'Khách lẻ', N'', N'')
GO
INSERT [dbo].[LoaiDoUong] ([MaLoai], [TenLoai]) VALUES (1, N'Coffe')
INSERT [dbo].[LoaiDoUong] ([MaLoai], [TenLoai]) VALUES (2, N'Milk')
INSERT [dbo].[LoaiDoUong] ([MaLoai], [TenLoai]) VALUES (3, N'Matcha')
GO
SET IDENTITY_INSERT [dbo].[NguyenLieu] ON 

INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonViTinh], [SoLuongTon], [SoLuongToiThieu], [GhiChu]) VALUES (1, N'hạt Robusta', N'kg', 4, 1, N'Ưu tiên')
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonViTinh], [SoLuongTon], [SoLuongToiThieu], [GhiChu]) VALUES (2, N'Hạt Arabica', N'kg', 0, 1, N'')
SET IDENTITY_INSERT [dbo].[NguyenLieu] OFF
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [SDT], [NgayVaoLam], [MatKhau], [Quyen]) VALUES (N'NGUYET', N'Nguyễn Văn A', N'Nữ', N'0214521256', CAST(N'2002-08-11' AS Date), N'1204', N'Quản trị viên')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [SDT], [NgayVaoLam], [MatKhau], [Quyen]) VALUES (N'NV001', N'Nguyễn Văn A', N'Nam', N'0123456789', CAST(N'2002-01-01' AS Date), N'123456', N'Nhân viên')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [SDT], [NgayVaoLam], [MatKhau], [Quyen]) VALUES (N'NV002', N'Trần Thị B', N'Nữ', N'0987654321', CAST(N'2002-01-05' AS Date), N'abcdef', N'Nhân viên')
GO
SET IDENTITY_INSERT [dbo].[PhieuNhapKho] ON 

INSERT [dbo].[PhieuNhapKho] ([MaPN], [NgayNhap], [MaNV], [TongTien]) VALUES (1, CAST(N'2025-10-11T10:33:16.693' AS DateTime), N'NGUYET', 500000.0000)
INSERT [dbo].[PhieuNhapKho] ([MaPN], [NgayNhap], [MaNV], [TongTien]) VALUES (2, CAST(N'2025-10-11T10:33:16.693' AS DateTime), N'NGUYET', 500000.0000)
INSERT [dbo].[PhieuNhapKho] ([MaPN], [NgayNhap], [MaNV], [TongTien]) VALUES (3, CAST(N'2025-10-11T10:44:04.513' AS DateTime), N'NGUYET', 500000.0000)
SET IDENTITY_INSERT [dbo].[PhieuNhapKho] OFF
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  DEFAULT ((10)) FOR [SoLuongToiThieu]
GO
ALTER TABLE [dbo].[PhieuNhapKho] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhieuNhapKho] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaDU])
REFERENCES [dbo].[DoUong] ([MaDU])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_MaHD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_MaHD]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhapKho] ([MaPN])
GO
ALTER TABLE [dbo].[CongThucDoUong]  WITH CHECK ADD FOREIGN KEY([MaDU])
REFERENCES [dbo].[DoUong] ([MaDU])
GO
ALTER TABLE [dbo].[CongThucDoUong]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[DoUong]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiDoUong] ([MaLoai])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
USE [master]
GO
